<div class="container-fluid bgimg">
    <div class="row" style="height: 100vh">
      <!-- Left Block - Quote demo -->
      <div class="col d-flex flex-column justify-content-center align-items-center">
       
        <div class="h2">
            <fa-icon [icon]="faQuoteLeft" ></fa-icon> <br>
            Life has two rules : <br> #1 Never Quit <br> #2 Always remember rule #1.
            <div class="col d-flex justify-content-end">
                <fa-icon [icon]="faQuoteRight" ></fa-icon>
            </div>
           
        </div>
       
      </div>
      
      <!-- Right Block S-R Block-->
        <div class="col d-flex flex-column align-items-center">
            <div class="h1" style="margin-top: 10vh;">
                <fa-icon [icon]="faQuoteLeft" ></fa-icon> <br>
                    QUOTES WEBSITE
                <div class="col d-flex justify-content-end">
                    <fa-icon [icon]="faQuoteRight" ></fa-icon>
                </div>
            </div>

                <div class="h4" style="margin-top: 10vh;" >
                    A New Inspiring and Memorable Quotes every day.
                </div>
                    <div>
                     <!-- <button class="btn btn-primary btn-block mb-2" style="width: 250px; margin-top: 10vh;"></button> -->
                        <a routerLink="/login"  class="btn btn-primary btn-block mb-2" style="width: 250px; margin-top: 10vh;">
                            LOGIN</a>
                    </div>
                    <div>
                        <!-- <button class="btn btn-primary btn-block" style="width: 250px; margin-top: 5vh;"> </button>-->
                            <a routerLink="/register" class="btn btn-primary btn-block" style="width: 250px; margin-top: 5vh;">
                            REGISTER</a>
                    </div>
              
        </div> 
    </div>
</div>
